body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background-image: url(../images-content/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-color: rgb(247, 185, 161,0.95); /* Add a semi-transparent overlay */
    background-blend-mode: overlay; /* Blend the overlay with the background image */
    animation: fadeIn 1s ease-in-out;


}
* {
    margin: 0;
    padding: 0;
}



html {
    scroll-behavior: smooth;
}
main{
    width: 100%;
    margin-top: 75px;

}

h1{
    color: #504E4D;
    font-weight: bold;
    font-family: Lora, serif;
    font-size: 3.4rem;
    line-height: 3.8rem;
    margin-bottom: 20px;
    max-width: 900px;
    margin-top: 2.5rem;
}

.content-iframe{
    width: 100%;
    height: 500px; /* Adjust height as needed */
    border: none;
}

.sidebar {
    width: 10rem;
    /* min-width: 180px;
    max-width: 200px; */
    background-color:transparent;
    color: white;
    padding: 20px;
    height: 100vh;
    position: fixed;
    transition: transform 0.3s ease-in-out;
}
.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Lora', sans-serif;
    opacity: 1;
}
.sidebar ul {
    list-style: none;
    padding: 0;
}
.sidebar ul li {
    padding: 10px;
    margin: 10px 0;
    background-color: rgb(253, 104, 36);
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;

    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}


.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    font-weight: bold;
    transition: color 0.3s ease;


}

.sidebar ul li:hover {
    background-color: #e65c2a;
    transform: scale(1.05);
}
.sidebar ul li a:hover {
    color: #f7b9a1;
}

.content {
    margin-left: 12rem;
    margin-right: 10rem  ;
    margin-top: 2rem;
    background-color: rgba(255, 255, 255, 0.85);

    border-radius: 30px;
    /* padding: 2rem ; */
    
    /* padding: 20px; */
    
}

.title{
    font-size: 2.5rem;
    font-weight: bold;
    color: #504E4D;
    font-family: Lora, serif;
    margin-bottom: 20px;
    /* max-width: 900px; */
    /* margin-top: 1rem; */
    padding: 20px;
    transition: color 0.3s ease-in-out;


    /* margin-left: 8.1vw; */
}

.title p{
    font-size: 1.2rem;
    font-weight: normal;
    color:#504E4D;
    font-family: Roboto, serif;
    margin-bottom: 20px;
    /* max-width: 900px; */
    margin-top: 2.5rem;
    line-height: 1.7rem;
}

.title:hover {
    color: #fd6924;
}
.content p{
    font-size: 1.2rem;
    font-weight: normal;
    color:#504E4D;
    font-family: Roboto, serif;
    margin-bottom: 20px;
    /* max-width: 900px; */
    margin-top: 2.5rem;
    line-height: 1.7rem;

}

.span-infra{
    color : #fd6924;
    font-weight: bold;
    font-family: Lora, serif;
    font-size: 3.4rem;
    line-height: 3.8rem;
    margin-bottom: 20px;
    max-width: 900px;
    margin-top: 2.5rem;
}

.content ul{
    margin-left: 2rem;
    color: #504E4D;

}

.content ul li{
    font-size: 1rem;
    font-weight: normal;
    color:#504E4D;
    font-family: Roboto, serif;
    /* margin-bottom: 20px; */
    /* max-width: 900px; */
    margin-top: 1rem;
    line-height: 1.3rem;
}
.section {
    margin-bottom: 40px;
    margin-top: 20px;
    /* height: 100vh; */
    margin-top: 2.5rem;
    /* margin-left: 8.1vw; */
    /* background-color: #f7b9a1; */
    padding: 20px;
    border-radius: 10px;
    border: solid 3px #504E4D;
    animation: slideUp 0.8s ease-in-out;
    transition: box-shadow 0.3s ease;

  

}
.section:hover {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}


.section h2{
    font-size: 2.5rem;
    font-weight: bold;
    color: #504E4D;
    font-family: Lora, serif;
    margin-bottom: 20px;
    max-width: 900px;
    margin-top: 2.0rem;
    line-height: 2.8rem;
}

.section h3{
    font-size: 2.0rem;
    font-weight: bold;
    color: #504E4D;
    font-family: Lora, serif;
    margin-bottom: 20px;
    max-width: 900px;
    margin-top: 2.0rem;
    line-height: 2.8rem;
}

.section h4{
    font-size: 1.5rem;
    font-weight: bold;
    color: #504E4D;
    font-family: Lora, serif;
    margin-bottom: 20px;
    max-width: 900px;
    margin-top: 2.0rem;
    line-height: 2.8rem;
}
/* Sidebar Styling */


/* Sidebar Toggle Button */
.sidebar-toggle {
    position: absolute;
    top: 15px;
    right: -30px;
    /* color: white; */
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 30px;
    /* padding: 5px; */
    /* border-radius: 50%; */

}

/* Sidebar Toggle Button Styling */
.sidebar-toggle {
    display: none;
}


/* Responsive Sidebar for smaller screens */
@media (max-width: 768px) {
    .sidebar {
        transform: translateX(-100%);
        position: fixed;
        width: 0;
        min-width: 180px;
        max-width: 200px;
        background-color: transparent;
        color: white;
        padding: 20px;
        height: 100vh;
        transition: transform 0.3s ease-in-out;
    }

    .sidebar.show {
        transform: translateX(0);
    }

    .sidebar-toggle {
        display: block;
        transition: transform 0.3s ease-in-out;

    }
    
    .sidebar.show + .sidebar-toggle {
        display: none;
    }
    .sidebar-toggle:hover {
        transform: rotate(90deg);}

    .content {
        margin: auto;
        padding: 20px;
        margin-right: 0;
    }
    h1{
        color: #504E4D;
        font-weight: bold;
        font-family: Lora, serif;
        font-size: 2.7rem;
        line-height: 3.2rem;
        margin-bottom: 20px;
        max-width: 900px;
        margin-top: 2.5rem;
        text-align: center;
    }
    .span-infra{
        color : #fd6924;
        font-weight: bold;
        font-family: Lora, serif;
        font-size: 2.5rem;
        line-height: 3rem;
        margin-bottom: 20px;
        max-width: 900px;
        margin-top: 2.5rem;
    }
    .section {
        margin-bottom: 40px;
        margin-top: 20px;
        /* height: 100vh; */
        margin-top: 2.5rem;
        /* margin-left: 8.1vw; */
        /* background-color: #f7b9a1; */
        margin-right: auto;
        margin-left: auto;
        padding: 20px;
        border-radius: 10px;
        border: none;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2)
    
      
    }

    .title p{
        text-align: center;
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 15px;
    }
    
    .section h2{
        font-size: 1.5rem;
        font-weight: bold;
        color: #504E4D;
        font-family: Lora, serif;
        margin-bottom: 20px;
        max-width: 900px;
        margin-top: 2.0rem;
        line-height: 2rem;
    }
    
    .section h3{
        font-size: 1.3rem;
        font-weight: bold;
        color: #504E4D;
        font-family: Lora, serif;
        margin-bottom: 20px;
        max-width: 900px;
        margin-top: 2.0rem;
        line-height: 2rem;
    }
    
    .section h4{
        font-size: 1.2rem;
        font-weight: bold;
        color: #504E4D;
        font-family: Lora, serif;
        margin-bottom: 20px;
        max-width: 900px;
        margin-top: 2.0rem;
        line-height: 2.8rem;
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-5px); } /* Moves up slightly */
    100% { transform: translateY(0px); }
}

