body{
    background-color: #FFF7F2;
    font-family: 'Roboto', sans-serif;
}

.feedback-main{
    margin-top: 100px;
}

.feedback-head{
    text-align: center;
    padding: 0;
}

.feedback-head-color{
    color: #FD6824;
}

.feedback-main h1, .feedback-head, .feedback-head-color{
    font-family: Lora, serif;
    margin-top: 6%;
    font-size: 4.5rem;
    font-weight: bold;
    line-height: normal;
}

.feedback-description {
    text-align: center;
    margin-top: 1%;
    margin-bottom: 3%;
    font-size: 1.4rem;
}

#form {
    margin-top: 8%;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    margin: 2% 10%;
}

#form > * {
    flex-basis: 50%;
}

.formbox-user-details, .feedback-reviews {
    background-color: #FFF7F2;
    border: 2px solid #000000;
    border-radius: 16px;
    padding: 24px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto', sans-serif;
    color: #333;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formbox-user-details h3 {
    color: #FD6824;
    font-family: 'Lora', serif;
    text-align: center;
    font-size: 3rem;
    margin-top: 10px;
    margin-bottom: 15px;
}

.feedback-reviews h3{
    color: #000000;
    font-family: 'Lora', serif;
    text-align: center;
    font-size: 3rem;
    margin-top: 10px;
    margin-bottom: 15px;
}

.error {
    color: red;
    font-size: 0.8rem;
    display: none;
}

.show-error {
    display: block;
}

.feedback-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.feedback-input, .feedback-rating, .feedback-dropdown, .feedback-date label{
    font-size: 20px;
    font-weight: bold;
}

.feedback-lable h4{
    font-size: 20px;
    font-weight: bold;
}

span.highlighter{
    margin-left: 10px;
    color: red;
    font-size: 12px;
}

.feedback-input input {
    width: 100%;
    max-width: 100%;
    height: 45px;
    background-color: #FEBE9F;
    border-color: black;
    border-width: 0.5px;
    border-radius: 15px;
    padding: 10px;
    font-size: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}


.rating-review{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    gap: 10px;
    margin-top: -5px;
}

.rating-review input {
    display: none;
}

.rating-review .stars {
    padding-right: 2%;
    font-size: 1.5rem;
    width: 15px;
    color: #000000;
    cursor: pointer;
    transition: color 0.3s;
    text-shadow: 0px 0px 2px black;
}

.rating-review .stars.selected,
.rating-review .stars:hover, .rating-review .stars:hover~.stars {
    color: gold;
}


.feedback-rating{
    display: flex;
    gap: 15px;
}


.feedback-input textarea {
    width: 100%;
    max-width: 100%;
    height: 120px;
    background-color: #FEBE9F;
    border-color: black;
    border-style: dashed;
    border-width: 2px;
    border-radius: 15px;
    padding: 10px;
    font-size: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}




.feedback-file{
    display: flex;
    flex-wrap: wrap;
}
/*
.file-upload {
    width: 100%;
    max-width: 400px;
    height: 150px;
    background-color: #FFD1B3;
    border: 0.5px dashed;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    font-size: 18px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}*/


.feedback-dropdown select {
    width: 40%;
    height: 30px;
    background-color: #FEBE9F;
    border: 0.5px solid #000000;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}


.feedback-date input {
    width: 40%;
    height: 30px;
    background-color: #FEBE9F;
    border: 0.5px solid #000000;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.feedback-click {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 15px;
    margin-left: 15px;
}


.feedback-click input {
    accent-color: #FD6824;
}


.file-upload {
    border: 2px dashed #000000;
    border-radius: 15px;
    text-align: center;
    padding: 16px;
    color: #000000;
    background-color: #FEBE9F;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.file-upload:hover {
    background-color: rgba(254, 190, 159, 0.7);
}


#reset, #submit {
    background-color: #FD6824;
    color: #FFF;
    border: none;
    border-radius: 15px;
    padding: 8px 15px;
    cursor: pointer;
    width: 15%;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

}

#reset:hover, #submit:hover {
    background-color: #E65A1F;
}

#reset {
    background-color: #ccc;
    color: #333;
}

#reset:hover {
    background-color: #B3B3B3;
}


