body {
    background-color: #FFF7F2;
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}


/* .feedback-main{ */
.feedback-main {
    margin-top: 100px;
}

.feedback-head {
    text-align: center;
    padding: 0;
}

.feedback-head-color {
    color: #FD6824;
}

.feedback-main h1, .feedback-head, .feedback-head-color {
    font-family: Lora, serif;
    margin-top: 6%;
    font-size: 4.5rem;
    font-weight: bold;
    line-height: normal;
}

.feedback-description {
    text-align: center;
    margin-top: 1%;
    margin-bottom: 3%;
    font-size: 1.4rem;
}

#form {
    margin-top: 8%;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    margin: 2% 10%;
}

#form > * {
    flex-basis: 50%;
}

.formbox-user-details, .feedback-reviews {
    background-color: #FFF7F2;
    border: 2px solid #000000;
    border-radius: 16px;
    padding: 24px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto', sans-serif;
    color: #333;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formbox-user-details h3 {
    color: #FD6824;
    font-family: 'Lora', serif;
    text-align: center;
    font-size: 3rem;
    margin-top: 10px;
    margin-bottom: 15px;
}

.feedback-reviews h3 {
    color: #000000;
    font-family: 'Lora', serif;
    text-align: center;
    font-size: 3rem;
    margin-top: 10px;
    margin-bottom: 15px;
}

.error {
    color: red;
    font-size: 0.8rem;
    display: none;
}

.show-error {
    display: block;
}

.feedback-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.feedback-input, .feedback-rating, .feedback-dropdown, .feedback-date label {
    font-size: 20px;
    font-weight: bold;
}

.feedback-lable h4 {
    margin-top: 0px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 7px;
}

span.highlighter {
    margin-left: 10px;
    color: red;
    font-size: 12px;
}

.feedback-input input {
    width: 100%;
    max-width: 100%;
    height: 45px;
    background-color: #FEBE9F;
    border-color: black;
    border-width: 0.5px;
    border-radius: 15px;
    padding: 10px;
    font-size: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.rating-review {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    gap: 10px;
    margin-top: -5px;
}

.rating-review input {
    display: none;
}

.rating-review .stars {
    padding-right: 2%;
    font-size: 1.5rem;
    width: 15px;
    color: #000000;
    cursor: pointer;
    transition: color 0.3s;
    text-shadow: 0px 0px 2px black;
}

.rating-review .stars.selected,
.rating-review .stars:hover, .rating-review .stars:hover~.stars {
    color: gold;
}

.feedback-rating {
    display: flex;
    gap: 15px;
}

.feedback-input textarea {
    width: 100%;
    max-width: 100%;
    height: 120px;
    background-color: #FEBE9F;
    border-color: black;
    border-style: dashed;
    border-width: 2px;
    border-radius: 15px;
    padding: 10px;
    font-size: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.feedback-file {
    display: flex;
    flex-wrap: wrap;
}

.feedback-dropdown select, .feedback-date input {
    width: 40%;
    height: 30px;
    background-color: #FEBE9F;
    border: 0.5px solid #000000;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.feedback-submit {
    display: flex;
    flex-wrap: wrap;
    gap: 15%
}

.feedback-click {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 15px;
    margin-left: 15px;
}

.feedback-click input {
    accent-color: #FD6824;
}

.file-upload {
    width: 50%;
    border: 2px dashed #000000;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    color: #000000;
    background-color: #FEBE9F;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.file-upload p {
    margin-bottom: 15px;
    font-size: 80%;
}

.file-upload:hover {
    background-color: rgba(254, 190, 159, 0.7);
}

#reset, #submit {
    background-color: #FD6824;
    color: #FFF;
    border: none;
    border-radius: 15px;
    padding: 8px 15px;
    cursor: pointer;
    width: 15%;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

#reset:hover, #submit:hover {
    background-color: #E65A1F;
}

#reset {
    background-color: #ccc;
    color: #333;
}

#reset:hover {
    background-color: #B3B3B3;
}

@media screen and (max-width: 320px) {

    .feedback-main h1, .feedback-head, .feedback-head-color {
        font-size: 1.5rem;
        margin-top: 10%;
    }

    .feedback-description {
        font-size: 0.8rem;
        margin-top: 2%;
        margin-bottom: 5%;
    }

    #form {
        flex-direction: column;
        margin: 5% 2%;
        gap: 20px;
    }

    #form > * {
        flex-basis: 100%;
    }

    .formbox-user-details, .feedback-reviews {
        padding: 16px;
        gap: 10px;
    }

    .formbox-user-details h3, .feedback-reviews h3 {
        font-size: 2rem;
    }

    .feedback-input, .feedback-rating, .feedback-dropdown, .feedback-date label {
        font-size: 16px;
    }

    .feedback-input input, .feedback-input textarea {
        font-size: 12px;
    }

    .feedback-dropdown select, .feedback-date input {
        width: 100%;
    }

    .file-upload {
        width: 100%;
        padding: 10px;
    }

    #reset, #submit {
        width: 40%;
        padding: 6px 10px;
    }
}

@media screen and (max-width: 480px) and (min-width: 321px) {

    .feedback-main h1, .feedback-head, .feedback-head-color {
        font-size: 2rem;
        margin-top: 8%;
    }

    .feedback-description {
        font-size: 1rem;
        margin-top: 1.5%;
        margin-bottom: 4%;
    }

    #form {
        flex-direction: column;
        margin: 4% 5%;
        gap: 30px;
    }

    #form > * {
        flex-basis: 100%;
    }

    .formbox-user-details, .feedback-reviews {
        padding: 20px;
        gap: 12px;
    }

    .formbox-user-details h3, .feedback-reviews h3 {
        font-size: 2.5rem;
    }

    .feedback-input, .feedback-rating, .feedback-dropdown, .feedback-date label {
        font-size: 18px;
    }

    .feedback-input input, .feedback-input textarea {
        font-size: 14px;
    }

    .feedback-dropdown select, .feedback-date input {
        width: 100%;
    }

    .file-upload {
        width: 100%;
        padding: 15px;
    }

    #reset, #submit {
        width: 30%;
        padding: 7px 12px;
    }
}

@media screen and (max-width: 576px) and (min-width: 481px) {

    .feedback-main h1, .feedback-head, .feedback-head-color {
        font-size: 2.5rem;
        margin-top: 7%;
    }

    .feedback-description {
        font-size: 1.2rem;
        margin-top: 1.5%;
        margin-bottom: 3.5%;
    }

    #form {
        flex-wrap: wrap;
        flex-direction: column;
        margin: 3% 7%;
        gap: 35px;
    }

    #form > * {
        flex-basis: 100%;
    }

    .formbox-user-details, .feedback-reviews {
        padding: 22px;
        gap: 14px;
    }

    .formbox-user-details h3, .feedback-reviews h3 {
        font-size: 2.8rem;
    }

    .feedback-input, .feedback-rating, .feedback-dropdown, .feedback-date label {
        font-size: 19px;
    }

    .feedback-input input, .feedback-input textarea {
        font-size: 15px;
    }

    .feedback-dropdown select, .feedback-date input {
        width: 100%;
    }

    .file-upload {
        width: 100%;
        padding: 18px;
    }

    #reset, #submit {
        width: 25%;
        padding: 8px 14px;
    }
}

@media screen and (max-width: 768px) and (min-width: 577px) {

    .feedback-main h1, .feedback-head, .feedback-head-color {
        font-size: 3rem;
        margin-top: 6%;
    }

    .feedback-description {
        font-size: 1.3rem;
        margin-top: 1.5%;
        margin-bottom: 3.5%;
    }

    #form {
        flex-wrap: wrap;
        flex-direction: column;
        margin: 3% 8%;
        gap: 40px;
    }

    #form > * {
        flex-basis: 100%;
    }

    .formbox-user-details, .feedback-reviews {
        padding: 24px;
        gap: 15px;
    }

    .formbox-user-details h3, .feedback-reviews h3 {
        font-size: 3rem;
    }

    .feedback-input, .feedback-rating, .feedback-dropdown, .feedback-date label {
        font-size: 20px;
    }

    .feedback-input input, .feedback-input textarea {
        font-size: 16px;
    }

    .feedback-dropdown select, .feedback-date input {
        width: 100%;
    }

    .file-upload {
        width: 100%;
        padding: 20px;
    }

    #reset, #submit {
        width: 20%;
        padding: 8px 15px;
    }
}

@media screen and (max-width: 992px) and (min-width: 769px) {

    .feedback-main h1, .feedback-head, .feedback-head-color {
        font-size: 3rem;
        margin-top: 6%;
    }

    .feedback-description {
        font-size: 1rem;
        margin-top: 1.5%;
        margin-bottom: 3.5%;
    }

    #form {
        flex-wrap: wrap;
        flex-direction: column;
        margin: 3% 9%;
        gap: 45px;
    }

    #form > * {
        flex-basis: 100%;
    }

    .formbox-user-details, .feedback-reviews {
        padding: 24px;
        gap: 15px;
    }

    .formbox-user-details h3, .feedback-reviews h3 {
        font-size: 3.2rem;
    }

    .feedback-input, .feedback-rating, .feedback-dropdown, .feedback-date label {
        font-size: 20px;
    }

    .feedback-input input, .feedback-input textarea {
        font-size: 16px;
    }

    .feedback-dropdown select, .feedback-date input {
        width: 100%;
    }

    .file-upload {
        width: 100%;
        padding: 20px;
    }

    #reset, #submit {
        width: 18%;
        padding: 8px 15px;
    }
}

@media screen and (max-width: 1200px) and (min-width: 993px) {

    .feedback-main h1, .feedback-head, .feedback-head-color {
        font-size: 3.2rem;
        margin-top: 6%;
    }

    .feedback-description {
        font-size: 1.2rem;
        margin-top: 1.5%;
        margin-bottom: 3.5%;
    }

    #form {
        flex-wrap: wrap;
        flex-direction: column;
        margin: 3% 10%;
        gap: 50px;
    }

    #form > * {
        flex-basis: 100%;
    }

    .formbox-user-details, .feedback-reviews {
        padding: 24px;
        gap: 15px;
    }

    .formbox-user-details h3, .feedback-reviews h3 {
        font-size: 3.5rem;
    }

    .feedback-input, .feedback-rating, .feedback-dropdown, .feedback-date label {
        font-size: 20px;
    }

    .feedback-input input, .feedback-input textarea {
        font-size: 16px;
    }

    .feedback-dropdown select, .feedback-date input {
        width: 100%;
    }

    .file-upload {
        width: 100%;
        padding: 20px;
    }

    #reset, #submit {
        width: 18%;
        padding: 8px 15px;
    }
}

@media screen and (max-width: 1350px) and (min-width: 1199px) {

    .feedback-main h1, .feedback-head, .feedback-head-color {
        font-size: 3.8rem;
        margin-top: 6%;
    }

    .feedback-description {
        font-size: 1.3rem;
        margin-top: 1.5%;
        margin-bottom: 3.5%;
    }

    #form {
        flex-wrap: wrap;
        flex-direction: column;
        margin: 3% 10%;
        gap: 50px;
    }

    #form > * {
        flex-basis: 100%;
    }

    .formbox-user-details, .feedback-reviews {
        padding: 24px;
        gap: 15px;
    }

    .formbox-user-details h3, .feedback-reviews h3 {
        font-size: 3.8rem;
    }

    .feedback-input, .feedback-rating, .feedback-dropdown, .feedback-date label {
        font-size: 20px;
    }

    .feedback-input input, .feedback-input textarea {
        font-size: 16px;
    }

    .feedback-dropdown select, .feedback-date input {
        width: 100%;
    }

    .file-upload {
        width: 100%;
        padding: 20px;
    }

    #reset, #submit {
        width: 18%;
        padding: 8px 15px;
    }
}

@media screen and (max-width: 1500px) and (min-width: 1346px) {

    .feedback-main h1, .feedback-head, .feedback-head-color {
        font-size: 4rem;
        margin-top: 5%;
    }

    .feedback-description {
        font-size: 1.4rem;
        margin-top: 1%;
        margin-bottom: 3%;
    }

    #form {
        flex-wrap: wrap;
        flex-direction: column;
        margin: 2% 10%;
        gap: 50px;
    }

    #form > * {
        flex-basis: 100%;
    }

    .formbox-user-details, .feedback-reviews {
        padding: 24px;
        gap: 15px;
    }

    .formbox-user-details h3, .feedback-reviews h3 {
        font-size: 3.8rem;
    }

    .feedback-input, .feedback-rating, .feedback-dropdown, .feedback-date label {
        font-size: 20px;
    }

    .feedback-input input, .feedback-input textarea {
        font-size: 16px;
    }

    .feedback-dropdown select, .feedback-date input {
        width: 100%;
    }

    .file-upload {
        width: 100%;
        padding: 20px;
    }

    #reset, #submit {
        width: 18%;
        padding: 8px 15px;
    }
}