body{
    background-color: #FFF7F2;
    font-family: 'Roboto', sans-serif;
}

.feedback-main{
    margin-top: 100px;
}

.feedback-head{
    text-align: center;
    padding: 0;
}

.feedback-head-color{
    color: #FD6824;
}

.feedback-main h1 , .feedback-head,.feedback-head-color{
    font-family: Lora, serif;
    margin-top: 6%;
    font-size: 4.5rem;
    font-weight: bold;
    line-height: normal;
}

.Feedback-description p{
    text-align: center;
    padding: 0;
    margin: 1%;
    line-height: 1.5;
    font-size: 1.5rem;
}
.freedback-container{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: auto;
}

.form-parallel{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    gap: 55px;
}

.highlighter{
    font-size: 8px;
    color: red;
}

.label{
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1%;
}

.rating{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: auto;
    padding-bottom: 5px;
    list-style: none;
    text-shadow: 0px 0px 2px black;
}

.rating #v1{
    color: gold;
}

.rating-review{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    gap: 10px;
    margin-top: 11px;
}

.rating-review input {
    display: none;
}

.rating-review label {
    font-size: 30px;
    color: #000000;
    cursor: pointer;
    transition: color 0.3s;
    text-shadow: 0px 0px 2px black;
}
  
.rating-review label:hover,
.rating-review label:hover ~ label {
    color: gold;
}


@media screen and (max-width: 320px) {
    .feedback-main h1 , .feedback-head,.feedback-head-color{
        font-size: 1.1rem;
    }

    .Feedback-description p{
        font-size: 0.5rem;
    }
}

@media screen and (max-width: 480px) and (min-width: 321px) {
    .feedback-main h1 , .feedback-head,.feedback-head-color{
        font-size: 1.5rem;
    }

    .Feedback-description p{
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 576px) and (min-width: 481px) {
    .feedback-main h1 , .feedback-head,.feedback-head-color{
        font-size: 2rem;
    }

    .Feedback-description p{
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 768px) and (min-width: 577px) {
    .feedback-main h1 , .feedback-head,.feedback-head-color{
        font-size: 2.5rem;
    }

    .Feedback-description p{
        font-size: 1.1rem;
    }
}