*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 400 1rem/1.975rem "Open Sans", sans-serif;

}

a{
    text-decoration: none;
}

.header{
    display: flex;
    width: 100%;
    min-width: 768px;
    justify-content: space-between;
    align-items: space-between;
    padding: 15px 50px;
    background-color: #504E4D;
    box-shadow: 0 2px 4px white(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 1000;
}

.header-logo{
    width: 50px;
    height: 50px;

}

.logo-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.header-navigation{
    display: flex;
    justify-content: center;
    align-items: center;

}     

.header-navigation ul{
    list-style: none;
    display: flex;
    gap: 20px;

}
.header-navigation li{
    justify-content: space-between;
    border-radius: 10px;
}


/* .header-navigation li:hover{
    background-color: white;
    color: black;
    transition: 0.3s;
} */


.header-navigation a{
    text-decoration: none;
    color: #FFF7F2;
    padding: 20px 10px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 700;
}

.header-navigation a:hover{
    color: #504E4D;
    background-color: #FFF7F2;
    transition: 0.3s;
}

.header-profile{
    width: 50px;
    height: 50px;
}

.header-profile img{
    width: 50px;
    height: 50px;
    object-fit: cover;
}

