body{
    margin: 0px;
    background-image: url("https://github.com/rivindu-ashinsa/sdg-awareness-site/blob/main/images/background.svg");
    background-color: #FFF7F2;
}


.header-bar{
    display: flex;
    flex-direction: row;
    background-color: rgba(19,22,26,0.75);
    height: 60px;
    justify-content: space-between;
}

.header-navigation{
    max-width: 600px;
    min-width: 500px;
}
.header-navigation ul{
    list-style-type: none;
}
.header-navigation li{
    display: inline;
    padding: 16px;
}

.header-navigation li a{
    color : white;
    text-decoration: none;
    font-family : DM sans;
    font-size: 12px;
}
