.home-page {
    font-family: 'Roboto', sans-serif;
    color: #333;
    text-align: center;
    background-color: #FFF7F2;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home-section-1{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    min-width: 768px; 
    height: 100vh;
    align-items: center;

}


.home-intro-title{
    margin-bottom: 20px;
    max-width: 900px;
}

.home-intro-title h1{
    color: #504E4D;
    font-weight: bold;
    font-family: Lora, serif;
    font-size: 4rem;
    line-height: 5rem;
}

.home-description{
    color: #333;
    margin-top: 40px;
    max-width: 768px;
    min-width: 768px;

}

.home-description-p{
    margin-bottom: 20px;
    font-size: 1.3rem;
    line-height: 1.7rem;
    margin-bottom: 80px;

    
}
.explore-button{
    text-decoration: none;
    color: #FFF7F2;
    background-color: #504E4D;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 700;
    transition: 0.3s;
    align-items: center;
}


.home-section-2{
    display: flex;  
    flex-direction: column;
    align-items: center;
    height: 100vh;
    min-width: 768px; 

}

.section-2-head{

    margin-bottom: 20px;
    max-width: 900px;

}

.section-2-head h1{
    color: #504E4D;
    font-weight: bold;
    font-family: Lora, serif;
    font-size: 4rem;
    line-height: 5rem;
}