h1{
    font-family : syne;
    font-size: 56px;

}

p{
    font-family:DM sans;
}


.home-intro-title{
    width : 600px;
    margin-left: 50px;
    margin-top : 70px;
    height: 330px;
    
    
}


.home-section-1{
    display: grid;
    grid-template-columns: 500px 1fr;
}




.home-background-img-div{
    height: 200px;
    position: relative;
}


.background-img-home{
    width: 763px;


}




.home-description{
    margin-left: 50px;
    width : 700px;
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 30px;

}

.explore-button{
    background-color: #FD6824;
    padding:10px;
    opacity: 0.7;
    width: 130px;
    border: none;
    border-radius: 20px;
    font-size: 12px;
}

.explore-button a{
    object-position: 100%;
    color: black;
}


.section-2-head{
    background-color: antiquewhite;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}