* {
    margin: 0;
}

table {
    margin-top: 100px;
    width: 80%;
    border-collapse: collapse;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
}
th, td {
    border: 1px solid #ddd;
    padding: 10px;
}
th {
    background-color:#FD6824 ;
    color: white;
}
tr:nth-child(even) {
    background-color: #f7b9a1;
}
img {
    width: 50px;
}
a {
    text-decoration: none;
    color: blue;
}
a:hover {
    text-decoration: underline;
}