body{
    background-color: #FFF7F2;
    font-family: 'Roboto', sans-serif;
}

.team-head{
    font-family: Lora, serif;
    text-align: center;
    padding: 0;
}

.team-header-color{
    color: #FD6824;
}

.team-main .team-description p{
    font-size: 1.4rem;
    text-align: center;
    line-height: 1.5;
}


.team-main h1 , .team-head,.team-header-color{
    font-family: Lora, serif;
    font-size: 5.7rem;
    font-weight: bold;
}

.team-description{
    text-align: center;
    padding: 0;
    margin: 3%;
}

.team-container{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    margin-top: 3%;
    justify-content: center;
    gap: 55px;
}

.team-members{
    width: 350px;
    height: 507px;
    background-color: #FD6824;
    transition: 1s;
    cursor: pointer;
    transition: 0.5ms;
}

.team-members:hover {
    transform: scale(1.05); 
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
    height: 660px;
    transition: 0.9s;
}

.team-main .canvas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 375px;
    margin-top: 7%;
    background-color: #FFF7F2;
}

.team-main .canvas img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.member-image{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}

.member-info{
    display: flex;
    align-items: center;
    margin-top: 4%;
    justify-content: center;
    flex-direction: column;
}

.member-info img{
    width: 100%;
    height: 100%;
}

.team-main h2{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.member-links{
    width: 80px;
    height: 30px;
    display: flex;
    gap: 10px;
}

.team-main h3{
    margin-top: 5%;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 3%;
}

.team-main li{
    font-size: 18px;
    line-height: 2;
    text-align: center;
}

.team-main ul {
    list-style-type: none;
}

.member-roles {
    display: none;
    opacity: 0;
}

.team-members:hover .member-roles {
    display: block;
    animation: showRole 4s forwards;
}

@keyframes showRole {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Media Queries */
@media screen and (max-width: 320px) {

    .team-description p{
        font-size: 0.35rem;
    }
    
    .team-main h1 , .team-head,.team-header-color{
        font-size: 1.5rem;

    }
    .team-container{
        gap: 15px;
    }

    .team-members{
        width: 120px;
        height: 200px;
    }

    .canvas{
        width: 110px;
        height: 150px;
        margin-top: 7%;
    }
    .team-main h2{
        font-size: 11px;
        margin-top: -8px;
    }

    .member-links{
        width: 50px;
        height: 30px;
        margin-top: -15px;
    }

    .member-roles{
        margin-top: -8px;
    }

    .team-main h3{
        font-size: 11px;
        margin-bottom: -1%;
    }
    
    .team-main li{
        font-size: 10px;
        line-height: 1.5;
    }

    .team-members:hover {
        height: 290px;
    }
}

@media screen and (max-width: 480px) and (min-width: 321px) {

    .team-description p{
        font-size: 0.5rem;
    }
    
    .team-main h1 , .team-head,.team-header-color{
        font-size: 2rem;

    }
    .team-container{
        gap: 25px;
    }

    .team-members{
        width: 150px;
        height: 245px;
    }

    .team-main .canvas{
        width: 130px;
        height: 180px;
        margin-top: 7%;
    }

    .team-main h2{
        font-size: 12px;
    }

    .member-links{
        width: 60px;
        height: 30px;
        margin-top: -10px;
    }

    .team-main h3{
        font-size: 14px;
    }
    
    .team-main li{
        font-size: 12px;
    }

    .team-members:hover {
        height: 380px;
    }

}
@media screen and (max-width: 576px) and (min-width: 481px) {

    .team-description p{
        font-size: 0.7rem;
    }
    
    .team-main h1 , .team-head,.team-header-color{
        font-size: 2.5rem;

    }
    .team-container{
        gap: 35px;
    }

    .team-members{
        width: 200px;
        height: 300px;
    }

    .team-main .canvas{
        width: 180px;
        height: 230px;
        margin-top: 7%;
    }
    
    main{
        margin-top: 120px;
    }

    .team-main h2{
        font-size: 15px;
        margin-top: -7px;
    }

    .member-links{
        width: 60px;
        height: 30px;
        margin-top: -7px;
    }

    .team-main h3{
        font-size: 16px;
    }
    
    .team-main li{
        font-size: 14px;
    }

    .team-members:hover {
        height: 450px;
    }

}

@media screen and (max-width: 768px) and (min-width: 577px) {

    .team-description p{
        font-size: 0.9rem;
    }
    
    .team-main h1 , .team-head,.team-header-color{
        font-size: 3rem;

    }
    .team-container{
        gap: 45px;
    }

    .team-members{
        width: 250px;
        height: 380px;
    }

    .team-main .canvas{
        width: 225px;
        height: 290px;
        margin-top: 7%;
    }

    .team-main{
        margin-top: 120px;
    }

    .team-main h2{
        font-size: 17px;
    }

    .member-links{
        width: 70px;
        height: 30px;
        margin-top: -5px;
    }

    .team-main h3{
        font-size: 18px;
    }
    
    .team-main li{
        font-size: 16px;
    }

    .team-members:hover {
        height: 538px;
    }

}

@media screen and (max-width: 992px) and (min-width: 769px) {

    .team-description p{
        font-size: 1.1rem;
    }
    
    .team-main h1 , .team-head,.team-header-color{
        font-size: 3.5rem;

    }
    .team-container{
        gap: 55px;
    }

    .team-members{
        width: 300px;
        height: 420px;
    }

    .team-main .canvas{
        width: 260px;
        height: 330px;
        margin-top: 7%;
    }

    .team-main h2{
        font-size: 20px;
    }

    .member-links{
        width: 70px;
        height: 30px;
        margin-top: -5px;
    }

    .team-main h3{
        font-size: 18px;
    }
    
    .team-main li{
        font-size: 16px;
    }

    .team-members:hover {
        height: 590px;
    }
}

@media screen and (max-width: 1200px) and (min-width: 993px) {

    .team-description p{
        font-size: 1.3rem;
    }
    
    .team-main h1 , .team-head,.team-header-color{
        font-size: 4rem;

    }
    .team-container{
        gap: 65px;
    }

}
