@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body{
    height: auto;
    background-color: #FFF7F2;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    width: 100;
}
* {
    margin: 0;
    padding: 0;
}


main{
    margin-bottom: 10%;
}

.up-intro-title{
    text-align: center;
    padding: 0;
}

.up-intro-title span{
    color: #FD6824;
}

.up-intro-title h1,.up-intro-title span{
    font-family: Lora, serif;
    margin-top: 10%;
    font-size: 5rem;
    font-weight: bold;
}

.container{
    display: flex;
    width: 85%;
    margin: 0 5%;
    height: auto;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

.left-side-container{
    background-color: #FFF7F2;
    display: flex;
    flex-direction: column;
    width: 900px;
}

.right-side-container{
    display: flex;
    flex-direction: column;
    border-radius: 0px 35px 0px 0px;
    background-color: #fbbfa0;
}

.pfp-card{
    background: #FD6824;
    border-radius: 35px 0px 0px 0px;
    padding: 3%;
    text-align: center;
    height: auto;
    margin-bottom: 0.8%;
}

.pfp-container{
    background: #FFF7F2;
    border-radius: 35px;    
    height: 50dvh;
    width: 21dvw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}

.pfp-container img {
    width: 100%;
    height: 100%;
}

.pfp-card h3 {
    margin-top: 25px;
    font-size: 30px;
    color: #000;
}

.pfp-details{
    color: #000;
    display: flex;
    padding: 10px;
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 30px;

}

.left-side-circles{
    list-style: circle;
    font-size: 30px;
    margin-top: 11px;
}

.left-side-details{
    margin-left: 10px;
    text-align: left;
    list-style: none;
    font-size: 22px;
}

.left-side-details li{
    margin-top: 12px;
}


.right-side-details {
   list-style: none;
   text-align: left;
   font-size: 22px;
   margin-left: 30px;
}

.right-side-details li{
    margin-top: 12px;
}


.pf-skills{
    background: #FD6824;
    padding: 5%;
    height: auto;

}


.pf-skills h3{
    margin-top: 1rem;
    font-size: 3rem;
}

.skill-section{
    margin-top: 5%;
}

.skill{
    margin-bottom: 5%; 
    
}

.skill p{
    font-size: 16px;
    margin-bottom: 5px;
}

.progress-bar{
    width: 95%;
    height: 19px;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
}


.comm-progress{
    height: 100%;
    background: #000;
    width:70%;
    animation: comm 4s;
}

.problem-progress{
    height: 100%;
    background: #000;
    width:50%;
    animation: problem 4s;
}

.team-progress{
    height: 100%;
    background: #000;
    width:90%;
    animation: team 4s;
}

.presen-progress{
    height: 100%;
    background: #000;
    width:40%;
    animation: presen 4s;
}

.time-progress{
    height: 100%;
    background: #000;
    width:60%;
    animation: time 4s;
}

.card-divider{
    display: flex;
    padding: 0.8%;
    background-color: #FD6824;
    margin-bottom: 0.8%;
}

.descritpion-container{
    margin-top: 2%;
    padding: 4%;
}

.descritpion-container h2{
    font-size: 220%;
    font-weight: bold;
    margin-bottom: 2%;
}

.descritpion-container p{
    font-size: 120%;
}


.cal-int-card{
    display: flex;
    justify-content: space-evenly;
    height: 62.5%;
    margin-bottom: 3%;
}

.calander-card{
    flex-direction: column;
    padding: 2%;
    background-color: #E0AF97;
    width: 40%;
}

.calander-card h2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 7%;
}

.calander-module{
    width: 100%;
    background-color: #FD6824;
    border-radius: 25px;
    user-select: none;
}

.calander-module section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 25px;
    margin-bottom: -5%;
}

section .current-date{
    font-size: 1.2rem;
    font-weight: bold;
}

section.icons span{
    height: 38px;
    width: 38px;
    color: #878787;
    font-size: 1.9rem;
    margin: 0 1px;
    cursor: pointer;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    background-color: #f2f2f2;
}

section .icons span:hover{
    background: #f2f2f2;
    cursor: pointer;
    border-radius: 40%;
}

section .icons span:last-child{
    margin-right: -10px;
}

.calander{
    padding: 10px;
}

.calander .days{
    margin-bottom: 15px;
}

.calander .weeks li{
    font-weight: bold;
}

.calander .days li{
    z-index: 1;
    font-weight: bold;
    cursor: pointer;
    margin-top: 21px;
}


.days li.inactive{
    color: #fbbfa0;
}

.days li.active{
    color: #FD6824;
}

.calander ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;
}

.calander ul li {
    position: relative;
    width: calc(100%/7);
}

.calander .days li::before{
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.days li:hover:before{
    background: #f2f2f2;
}

.days li.active::before{
    background-color: #000;
}

.events{
    padding: 10%;
    margin-left: 3%;
}
.events li{
    font-size: 1.8rem;
    list-style: circle;
    margin-top: 4%;
}

.events li span {
    font-size: 1.2rem;
}

.interest-card{
    padding: 2%;
    background-color: #E0AF97;
    width: 50%;
}

.interest-card h2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 7%;
}

.experience-card{
    padding: 2%;
    background-color: #E0AF97;
    width: 93.25%;
    margin-left: auto;
    margin-right: auto;

}

.experience-card h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 2%;
}


.contact-card{
    padding: 2%;
    width: 85%;
    height: 10%;
    border-radius: 0px 0px 35px 35px;
    background-color:#FD6824;
    margin-left: auto;
    margin-right: auto;
}

.contact-card h2{
    font-size: 200%;
    font-weight: bold;
    margin-top: 0%;
    margin-bottom: 2%;
    text-align: center;
}

.contact-section{
    display: flex;
    flex-direction: row;

}

.contact-mail, .contact-moblie, .contact-location, .contact-linkedin, .contact-twitter {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: auto;
}

.contact-mail img, .contact-moblie img, .contact-location img, .contact-linkedin img, .contact-twitter img {
    margin-right: 4%;
    margin-left: 20%;
    margin-bottom: -3%;
}



@media screen and (max-width: 1024px) {

    .up-intro-title h1,span{
        margin-top: 25%;
    }

    .container {
        flex-direction: column;
    }

    .left-side-container,
    .right-side-container {
        width: 100%;
    }

    .right-side-container{
        border-radius: 35px 35px 0px 0px;
    }

    .pfp-card{
        border-radius: 35px;
    }

    .pfp-container{
        width: 80%;
        height: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .pfp-container img{
        margin-bottom: -1.5%;
    }

    .card-divider{
        padding: 0;
    }

    .pf-skills{
        border-radius: 35px;
        margin-bottom: 10px;
    }

    .cal-int-card {
        flex-direction: column; 
        align-items: center; 
    }

    .calander-card,
    .interest-card {
        width: 90%; 
        margin: 2% 0; 
        border-radius: 35px;
    }

    .calander-module{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .experience-card {
        width: 90%;
        border-radius: 35px;
        margin-bottom: 30px;
        padding: 30px; 
    }

    .contact-section{
        flex-direction: column;
        padding: 10px;
        justify-content: center;
    }

    .contact-mail, .contact-moblie, .contact-location, .contact-linkedin, .contact-twitter {
        padding: 10px;
        font-family: 'Roboto', sans-serif;
        width: 100%;
        height: auto;

    }

    .contact-mail p, .contact-moblie p, .contact-location p, .contact-linkedin p, .contact-twitter p {
        margin-right: 3%;
        margin-left: 20%;
        margin-top: 2%;
        text-align: left;
    }
    
    .contact-mail img, .contact-moblie img, .contact-location img, .contact-linkedin img, .contact-twitter img {
        margin-right: 5%;
        margin-left: 15%;

    }
}

@keyframes comm{
    0% {
        width: 0%;
    }
    100%{
        width: 70%;
    }
}

@keyframes problem{
    0% {
        width: 0%;
    }
    100%{
        width: 50%;
    }
}

@keyframes team{
    0% {
        width: 0%;
    }
    100%{
        width: 90%;
    }
}

@keyframes presen{
    0% {
        width: 0%;
    }
    100%{
        width: 40%;
    }
}

@keyframes time{
    0% {
        width: 0%;
    }
    100%{
        width: 60%;
    }
}

