@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body{
    height: auto;
    background-color: #FFF7F2;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    width: 100;
}

.up-intro-title{
    text-align: center;
    padding: 0;
}

.up-intro-title span{
    color: #FD6824;
}

.up-intro-title h1,.up-intro-title span{
    font-family: Lora, serif;
    margin-top: 10%;
    font-size: 5rem;
    font-weight: bold;
}

.container{
    display: flex;
    width: 85%;
    margin: 0 5%;
    height: auto;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 35px 35px 0px 0px;
    background-color: #fbbfa0;
    justify-content: space-between;
}

.left-side-container{
    background-color: #FFF7F2;
    display: flex;
    flex-direction: column;
    width: 900px;
}

.right-side-container{
    display: flex;
    flex-direction: column;
    
}

.pfp-card{
    background: #FD6824;
    border-radius: 35px 0px 0px 0px;
    padding: 3%;
    text-align: center;
    height: 45rem;
    margin-bottom: 0.7%;
}

.pfp-container{
    background: #FFF7F2;
    border-radius: 35px;    
    height: 50dvh;
    width: 22dvw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}

.pfp-container img {
    width: 100%;
    height: 100%;
}

.pfp-card h3 {
    margin: 2.1rem 0;
    font-size: 30px;
    color: #000;
}

.pf-details{
    text-align: left;
    color: #000;
    font-size: 20px;
}

.pf-details ul {
    list-style: circle;
    padding-left: 20px;
}

.pf-details li {
    list-style: circle;
    margin: 5px 0;
    display: flex;
}

.pf-details span {
    text-align: left;
    margin-left: 20%;
}

.pf-skills{
    background: #FD6824;
    padding: 5%;
    margin-top: 0.7%;
    height: auto;

}


.pf-skills h3{
    margin-top: 0.5rem;
    font-size: 3rem;
}

.skill-section{
    margin-top: 5%;
}

.skill{
    margin-bottom: 5%; 
    
}

.skill label{
    font-weight: bold;
}

.progress-bar{
    width: 95%;
    height: 19px;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
}

.progress{
    height: 100%;
    background: #000;
}

.card-divider{
    display: flex;
    padding: 0.6%;
    background-color: #FD6824;
}

.descritpion-container{
    margin-top: 2%;
    padding: 4%;
}

.descritpion-container h2{
    font-size: 220%;
    font-weight: bold;
    margin-bottom: 2%;
}

.descritpion-container p{
    font-size: 120%;
}


.cal-int-card{
    display: flex;
    justify-content: space-evenly;
    height: 62.5%;
    margin-bottom: 3%;
}

.calander-card{
    flex-direction: column;
    padding: 2%;
    background-color: #E0AF97;
    width: 40%;
}

.calander-card h2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 7%;
}

.calander-module{
    width: 100%;
    background-color: #FD6824;
    border-radius: 25px;
    
}

.calander-module section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 25px;
    margin-bottom: -5%;
}

section .current-date{
    font-size: 1.2rem;
    font-weight: bold;
}

section.icons span{
    height: 38px;
    width: 38px;
    color: #878787;
    font-size: 1.9rem;
    margin: 0 1px;
    cursor: pointer;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    background-color: #f2f2f2;
}

section .icons span:hover{
    background: #f2f2f2;
    cursor: pointer;
}

section .icons span:last-child{
    margin-right: -10px;
}

.calander{
    padding: 10px;
}

.calander .days{
    margin-bottom: 15px;
}

.calander .weeks li{
    font-weight: bold;
}

.calander .days li{
    z-index: 1;
    font-weight: bold;
    cursor: pointer;
    margin-top: 21px;
}


.days li.inactive{
    color: #fbbfa0;
}

.days li.active{
    color: #FD6824;
}

.calander ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;
}

.calander ul li {
    position: relative;
    width: calc(100%/7);
}

.calander .days li::before{
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.days li:hover:before{
    background: #f2f2f2;
}

.days li.active::before{
    background-color: #000;
}

.events{
    padding: 10%;
    margin-left: 3%;
}
.events li{
    font-size: 1.8rem;
    list-style: circle;
    margin-top: 4%;
}

.events li span {
    font-size: 1.2rem;
}

.interest-card{
    padding: 2%;
    background-color: #E0AF97;
    width: 50%;
}

.interest-card h2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 7%;
}

.experience-card{
    padding: 2%;
    background-color: #E0AF97;
    width: 93.25%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;

}

.experience-card h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 2%;
}

.contact-card{
    padding: 2%;
    width: 85%;
    height: 10%;
    border-radius: 0px 0px 35px 35px;
    background-color:#FD6824;
    margin-left: auto;
    margin-right: auto;
}

.contact-card h2{
    font-size: 200%;
    font-weight: bold;
    margin-top: 0%;
    margin-bottom: 2%;
    text-align: center;
}

.contact-section{
    display: flex;
    flex-direction: row;

}

.contact-mail, .contact-moblie, .contact-location, .contact-linkedin, .contact-twitter {
    width: 100%;
    height: auto;
}

.contact-mail img, .contact-moblie img, .contact-location img, .contact-linkedin img, .contact-twitter img {
    margin-right: 2%;
    margin-left: 20%;
    margin-bottom: -2%;
}



@media screen and (max-width: 1024px) {

    .up-intro-title h1,span{
        margin-top: 16%;
    }

    .container {
        flex-direction: column;
    }

    .left-side-container,
    .right-side-container {
        width: 100%;
    }

    .pfp-card{
        border-radius: 35px 35px 0px 0px;
    }

    .pfp-container{
        width: 30dvw;
        height: 40dvh;
        margin-left: 1.5%;
    }

    .cal-int-card {
        flex-direction: column; 
        align-items: center; 
    }

    .calander-card,
    .interest-card {
        width: 90%; 
        margin: 2% 0; 
    }

    .experience-card {
        width: 90%; 
    }

    .contact-section{
        flex-direction: column;
    }
}



