*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
.volunteer{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Roboto', serif;

}
.volunteer .headings{
    justify-content: center;
    text-align: center;
}
.volunteer .headings h1, .volunteer .headings em{
    font-size: 3rem;
    font-weight: bold;
    margin-top: 20px;
    line-height: normal;
}
.volunteer .headings em{
    color: #FD6824;
}
.volunteer .headings p{
    font-size: 1.2em;
    margin-top: 10px;
    width: 70%;
    font-weight:550;
    line-height: 25px;
}
.topics{
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.topics h2{
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 1%;
}
.content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.subtopic{
    background: #FEBE9F;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 10px;
    text-align: center;
    width: 650px;
    position: relative;
    overflow: hidden;
}
.subtopic h3{
    font-family: 'Roboto', serif;
    font-size: 1.5em;
    padding: 10px;
    padding-top: 30px;
    font-weight: bold;
}
.subtopic p{
    font-family: 'Roboto', serif;
    font-size: 1em;
    padding: 10px;
    line-height: 20px;
    font-weight: bolder;
}
.subtopic img{
    width: 100%;
    height: 210px;
    object-fit:cover;
}
.advantages{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 10px;
}
.advantages p{
    margin-bottom: 15px;
    text-wrap: wrap;
    width: 180px;
}
.advantages .map, .advantages .time, .advantages .benifits{
    border-radius: 20px;
    padding-top: 15px;
    background: #E0AF97;
}
.advantages img{
    width: 45px;
    height: 45px;
}
.outstanding{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 30px;
    background: #E0AF97;
    padding: 10px 0;
}
.outstanding h4{
    font-size: 1.5em;
    font-weight: bold;
    text-wrap: wrap;
    width: 180px;
}
.outstanding p{
    text-align: left;
}
.reviews{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 10px;
}
.reviews .review{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    background: #E0AF97;
    border-radius: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.reviews .review .head img{
    width: 25px;
    height: auto;
}
.reviews .review .head{
    display: flex;
    justify-content: center;
    gap: 15px; ;
}
.reviews .review .head h5{
    font-size: 1rem;
    font-weight: bold;
}
.reviews .review p{
    font-size: 0.8rem;
    padding: 10px;
    line-height: 20px;
    text-align: left;
}
.reviews .review p em{
    font-size: 0.85rem;
    line-height: 20px;
    font-style: normal;
    font-weight: bold;
}
.move{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 40px;
}
.sendreview{
    background: #E0AF97;
    text-align: center;
    width: 190px;
    position: relative;
    overflow: hidden;
    width: 100%;
}
.sendreview h5{
    font-size: 1em;
    font-weight: bold;
    text-align: left;
    padding-left: 10px;
    margin-top: 10px;
}
.sendreview textarea{
    height: 100px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: #E0AF97;
    color: black;
    border-color: black;
}
.rating{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: auto;
    padding-bottom: 5px;
}
.rating img{
    width: 20px;
    height: 20px;
}
.rating-review{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 11px;
    margin-left: 230px;
}
.rating-review img{
    width: 25px;
    height: 25px;
}
.sendreview .rate{
    display: flex;
    gap: 10px;
}